<div class="blackarea">
<img src="https://imgs.search.brave.com/WoR14xofGVXZ3SIlb3u4sNMqS4R_gQ-ekQzP3Zu1qno/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZHNh/c3NldHMuYXBwbGUu/Y29tL2xpdmUvN1dV/QVMzNTAvaW1hZ2Vz/L2lvcy9pb3MtMTct/aXBob25lLTE0LXBy/by1ub3Rlcy1waW4t/bm90ZS5wbmc" alt="">
<div class="comments">
    <p>𝙽𝙾𝚃𝙴𝚂 𝙰𝙿𝙿</p><br><br>
    <p>𝔒𝔯𝔤𝔞𝔫𝔦𝔷𝔢 𝔶𝔬𝔲𝔯 𝔱𝔥𝔬𝔲𝔤𝔥𝔱𝔰 𝔢𝔣𝔣𝔬𝔯𝔱𝔩𝔢𝔰𝔰𝔩𝔶. ℭ𝔞𝔭𝔱𝔲𝔯𝔢 𝔦𝔡𝔢𝔞𝔰, 𝔠𝔯𝔢𝔞𝔱𝔢 𝔱𝔬-𝔡𝔬 𝔩𝔦𝔰𝔱𝔰, 𝔞𝔫𝔡 𝔰𝔶𝔫𝔠 𝔞𝔠𝔯𝔬𝔰𝔰 𝔡𝔢𝔳𝔦𝔠𝔢𝔰 𝔴𝔦𝔱𝔥 𝔬𝔲𝔯 𝔭𝔬𝔴𝔢𝔯𝔣𝔲𝔩 𝔞𝔫𝔡 𝔦𝔫𝔱𝔲𝔦𝔱𝔦𝔳𝔢 𝔫𝔬𝔱𝔢𝔰 𝔞𝔭𝔭.</p>

</div>

</div>

<div class="gotologin">

    <button routerLink="/login" class="buttonlogin">GET STARTED</button>
</div>

<footer class="footer">
    <p>Follow us on:</p>
    <a href="https://www.facebook.com" target="_blank">
        <img src="facebook-icon.png" alt="Facebook">
    </a>
    <a href="https://www.twitter.com" target="_blank">
        <img src="twitter-icon.png" alt="Twitter">
    </a>
    <a href="https://www.instagram.com" target="_blank">
        <img src="instagram-icon.png" alt="Instagram">
    </a>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>